@import '../../index';

.left-bar-chat-users__status-asd {
    color: $statusASD;
    font-weight: $FontWeight;
}

.left-bar-chat-users__status-com {
    color: $statusCOM;
    font-weight: $FontWeight;
}

.left-bar-chat-users__status-una {
    color: $statusUNA;
    font-weight: $FontWeight;
}