body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*Variables*/
$darkBgHeader: #202020;
$hrSlateBlue: rgb(105, 32, 221);
$dark: #747373;
$darkGrey: #b4b4b4;
$white: #fff;
$fs: 24px;
$chatbg: #615e5e81;
$lineLi: #111;
$chatcard: rgb(49, 49, 49);
$cardBg: rgba(109, 109, 109, 0.692);


